<div class="padded-content">
  <mdl-dialog v-ref:create-exam-dialog title="Create a test">
    <form action="#">
      <mdl-textfield label="Enter Test Name" :value.sync="newExam.name"></mdl-textfield>
      <mdl-textfield label="Test Description" :value.sync="newExam.description" textarea rows="3"></mdl-textfield>
      <h4 class="dialog-sub-header">Exam Settings</h2>
      <div class="alert">Set this test as timed to set a duration</div>
      <div class="exam-form-field">
        <mdl-checkbox :checked.sync="newExam.timed" class="mdl-js-ripple-effect">Timed</mdl-checkbox>
        <mdl-textfield label="Enter exam duration in seconds" :value.sync="newExam.duration"></mdl-textfield>
        <mdl-checkbox :checked.sync="newExam.privacy" class="mdl-js-ripple-effect">Private</mdl-checkbox>
      </div>
    </form>
    <template slot="actions">
      <mdl-button v-on:click="createExam">OK</mdl-button>
      <mdl-button @click="$refs.createExamDialog.close">Cancel</mdl-button>
    </template>
  </mdl-dialog>
  <div v-if="$loadingRouteData" class="data-loading">
    <mdl-spinner></mdl-spinner>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <h2 class="subheader-text">Listing out your exams</h2>
    </div>
    <div class="mdl-cell mdl-cell--6-col flex align-middle-right">
      <mdl-button raised colored @click="showCreateModal" class="mdl-js-ripple-effect mdl-color--cyan">Create Exam</mdl-button>
    </div>
  </div>
  <div class="mdl-grid" v-if="!$loadingRouteData">
    <div class="mdl-cell mdl-cell--4-col" v-for="exam in exams">
      <div class="exam-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ exam.name }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{ exam.description }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <mdl-anchor-button colored class="mdl-js-ripple-effect mdl-color-text--cyan" v-link="{ path: '/app/exams/' + exam.__id }">Get Started</mdl-anchor-button>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-message flex column-layout align-middle-center" v-if="!$loadingRouteData && !exams.length">
    <div class="empty-icon">
      <img src="/build/img/folder.png" />
    </div>
    <div class="empty-text">
      <h2>There are currently no items here</h2>
    </div>
  </div>
</div>
