<div>
  <div class="app-header-strip">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h2 class="app-title-text">
          <a v-link="{ path: '/exams' }">Exams</a> / Exam 1
        </h2>
      </div>
    </div>
  </div>
  <div class="padded-content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp">
        <div class="padded-content spacious">
          Some Text
        </div>
      </div>
    </div>
  </div>
</div>
